<div class="container">
  <div class="header">
    <div
      class="header__main"
      id="stickyHeader"
      [class.sticky]="sticky"
      #stickHeader
    >
      <div class="header__left">
        <a routerLink="home">
          <img src="assets/netflix.svg" alt="logo" />
        </a>
        <ul>
          <li class="active"><a routerLink="home">Home</a></li>
          <li><a routerLink="about">About</a></li>
          <li><a routerLink="addFilm">Add Movies</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div><router-outlet></router-outlet></div>
</div>
